body {
    margin: 5%;
}
.whole_content{
    margin: 10%;
    text-align: center;
}

.main_content{
    text-align: center;
    /* border: solid; */
    box-shadow: 15px 10px 20px gray;
    border-radius: 20px;
    padding: 10%;
    /* margin: 10%; */
}
select{
    margin: 5px;
    border-radius: 5px;
}
input{
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
}
